albumentations
alembic
altair
attrs
banal
blinker
cachetools
certifi
charset-normalizer
click
colorama
commonmark
comtypes
config
cv
dataset
decorator
easyocr
entrypoints
gitdb
GitPython
greenlet
idna
imageio
importlib-metadata
imutils
Jinja2
joblib
jsonschema
Mako
MarkupSafe
networkx
ninja
numpy
opencv-python-headless
packaging
pandas
Pillow
protobuf
pyarrow
pyclipper
pydeck
Pygments
Pympler
pyrsistent
pytesseract
python-bidi
python-dateutil
pyttsx3
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
qudida
requests
rich
scikit-image
scikit-learn
scipy
streamlit
semver
shapely
six
smmap
SQLAlchemy
threadpoolctl
tifffile
toml
toolz
torch
torchvision
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
zipp
